body{
    text-align: center;
    background: rgba(111,44,66,0.5);
    background-image: url("../img/bg1.jpg");
}

#contenedor{

}

#titulo {
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    color: rgba(250,250,250,0.7);
}

/*************Parte de navegacion****************/

#navegacion {
    text-align: center;
}
#navegacion li{
    display: inline;
    margin: 10px;
    font-size: 20px;
} 
#navegacion li a{
    text-decoration: none;
    text-shadow: 0px 0px 9px rgba(0,0,0,0.8);
    color: rgba(250,250,250,0.7);
}

#navegacion li a:hover{
   text-decoration: underline;
    text-shadow: 0px 0px 9px rgba(250, 250, 250, 0.8);
}

/*************Parte de Clima****************/

#clima{
    width: 100%;
    background: rgba(0, 0, 0,0.3);
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10%;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.8);
    text-shadow: 0px 0px 9px rgba(0,0,0,0.8);
    color: rgba(250,250,250,0.7);
    padding: 10px;
}

#climaGeneral{
    background: rgba(26, 31, 99, 0.5);
    display: inline;
}

#alertasLocales{
    background: rgba(26, 31, 99, 0.5);
    display: inline;
}
/*************Parte de mapa****************/

#contenedorMapa{
    padding-top: 20px;
    margin-left: 40px;
    width: 50%;
    color: rgba(250,250,250,0.7);
   
}

#contenedorMapa h2:first-child{
    font-size: 20px;
    float: left;
    margin-left: 130px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

#contenedorMapa h2{
    text-shadow: 0px 0px 9px;
    font-size: 20px;
    float: right;
    margin-right: 30px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}
#mapa{
    width: 65%;
    height: 400px;
    background: rgba(25, 50, 25, 0.5);
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 5%;
    box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.5);
    float: left;
}

#contenedorMapa aside{
    width: 25%;
    height: 400px;
    background: rgba(30, 25, 25, 0.5);
    float: right;
    margin-top: 20px;
    box-shadow: 3px 3px 9px;
    border-radius: 5%;
    box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.5);
}


#mapid {
    background: #CCC;
    position: absolute;
    
    margin-bottom: 200px;
    top: 470px;
    bottom: 0px;
    left: 40px;
  
    width: 480px;
    height: 380px;

    border: solid 5px rgba(0,0,0,1);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
  }
  
  #right {
    position: absolute;
  
    top: 0px;
    right: 0px;
    bottom: 0px;
  
    width: 25%;
  }
  
  #states {
    margin: 7px 15px;
  }
  

/*************Parte de footer****************/
